<div class="ion-padding">
  <ion-card class="ion-padding">
    <ion-card-header color="primary">
      <ion-card-title class="ion-text-center ion-text-wrap ion-text-uppercase">
        <ion-icon name="play-outline"></ion-icon> Passez au Papyrus Numérique
      </ion-card-title>
    </ion-card-header>
    <form
    #myContactForm="ngForm"
    (ngSubmit)="myContactForm.valid && sendForm()"
    [formGroup]="contactForm">
        <ion-item lines="full">
          <ion-label position="floating"><ion-icon name="person-outline"></ion-icon> Nom/Prénom</ion-label>
          <ion-input formControlName="name" type="text" required></ion-input>
        </ion-item>
    
        <ion-item lines="full">
          <ion-label position="floating"><ion-icon name="mail-outline"></ion-icon> Email</ion-label>
          <ion-input formControlName="mail" type="email" required></ion-input>
        </ion-item>
  
        <ion-item lines="full">
          <ion-label position="floating"><ion-icon name="phone-portrait-outline"></ion-icon> Mobile</ion-label>
          <ion-input formControlName="tel" type="tel" required></ion-input>
        </ion-item>

        <ion-item class="ion-padding-top">
          <ion-label position="floating"><ion-icon name="newspaper-outline"></ion-icon> Objet</ion-label>
          <ion-textarea formControlName="object" required clearOnEdit="true" autocorrect="true" maxlength="250"></ion-textarea>
        </ion-item>
    
        <ion-item class="ion-padding-top">
          <ion-label position="floating"><ion-icon name="newspaper-outline"></ion-icon> Message</ion-label>
          <ion-textarea formControlName="message" required clearOnEdit="true" autocorrect="true" maxlength="250"></ion-textarea>
        </ion-item>
    
        <ion-row>
          <ion-col>
            <ion-button (click)="sendForm()"  type="submit" color="primary" expand="block">Envoyer</ion-button>
          </ion-col>
        </ion-row>
      </form>
</ion-card>
</div>







