<!-- EQUIPE SECTION  -->
<ion-grid class="ion-padding">
  <ion-card>
    <ion-card-header class="ion-text-uppercase ion-text-center">
      <ion-icon name="people-circle-outline"></ion-icon> L'équipage
    </ion-card-header>
    <!-- CARD LIST BEGINING-->
    <ion-row class="ion-justify-content-center">
      <!-- CARD BEGIN -->
      <ion-col size="12" size-sm="3">
        <ion-card>
          <ion-card-content>
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
              </ion-thumbnail>
              <ion-label>Serverux</ion-label>
              <ion-card-subtitle>12/09/1029</ion-card-subtitle>
            </ion-item>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Beatae sed nobis expedita quos quae error temporibus enim, ex ducimus facere a perferendis,
               suscipit eum vero! Quidem nemo quod reprehenderit placeat.
               Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </ion-card-content>
      </ion-card>
      </ion-col>
      <!-- CARD BEGIN -->
      <ion-col size="12" size-sm="3">
        <ion-card>
          <ion-card-content>
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
              </ion-thumbnail>
              <ion-label>Pollux</ion-label>
              <ion-card-subtitle>12/09/1029</ion-card-subtitle>
            </ion-item>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Beatae sed nobis expedita quos quae error temporibus enim, ex ducimus facere a perferendis,
               suscipit eum vero! Quidem nemo quod reprehenderit placeat.
               Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </ion-card-content>
      </ion-card>
      </ion-col>
      <!-- CARD BEGIN -->
      <ion-col size="12" size-sm="3">
        <ion-card>
          <ion-card-content>
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
              </ion-thumbnail>
              <ion-label>Jason</ion-label>
              <ion-card-subtitle>12/09/1029</ion-card-subtitle>
            </ion-item>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Beatae sed nobis expedita quos quae error temporibus enim, ex ducimus facere a perferendis,
               suscipit eum vero! Quidem nemo quod reprehenderit placeat.
               Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </ion-card-content>
      </ion-card>
      </ion-col>
      <!-- CARD BEGIN -->
      <ion-col size="12" size-sm="3">
        <ion-card>
          <ion-card-content>
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
              </ion-thumbnail>
              <ion-label>Ismaëlux</ion-label>
              <ion-card-subtitle>27/08/1993</ion-card-subtitle>
            </ion-item>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Beatae sed nobis expedita quos quae error temporibus enim, ex ducimus facere a perferendis,
               suscipit eum vero! Quidem nemo quod reprehenderit placeat.
               Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>
  <!-- CARD LIST END-->
  </ion-card>
</ion-grid>

<!-- RICHESSES ACCORDION SECTION  -->
<ion-card>
    <ion-card-header class="ion-text-uppercase">
      <ion-icon name="cash-outline"></ion-icon> Nos richesses
    </ion-card-header>
    <ion-card-content>
      <!-- START ACCORDION -->
  <ion-accordion-group value="clothes">
    <!-- CLOTHES ACCORDION -->
    <ion-accordion value="clothes">
      <ion-item slot="header" color="primary">
        <ion-label><ion-icon name="walk-outline"></ion-icon> Habits</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item lines="none">
            <ion-label>Crocs</ion-label>
            <ion-note slot="end" color="primary">99</ion-note>      
        </ion-item>
      </ion-list>
    </ion-accordion>
     <!-- METAL ACCORDION -->
    <ion-accordion value="metal">
      <ion-item slot="header" color="primary">
        <ion-label><ion-icon name="barbell-outline"></ion-icon> Métaux</ion-label>
      </ion-item>
      <ion-list slot="content">
          <ion-list>
            <ion-item lines="none"> 
              <ion-label>Or</ion-label>
              <ion-note slot="end" color="primary">99</ion-note>      
        </ion-item>
          </ion-list>
      </ion-list>
    </ion-accordion>
  <!-- ALCOOL ACCORDION -->
    <ion-accordion value="beer">
      <ion-item slot="header" color="primary">
        <ion-label><ion-icon name="beer-outline"></ion-icon> Alcool</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item lines="none"> 
              <ion-label>Bière</ion-label>
              <ion-note slot="end" color="primary">99</ion-note>      
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
    </ion-card-content>
</ion-card>