<!-- EQUIPE SECTION  -->
<ion-grid class="ion-padding">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-sm="3">
      <ion-card>
        <ion-card-header class="ion-text-uppercase"><ion-icon name="people-circle-outline"></ion-icon> L'Equipe</ion-card-header>
        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Beatae sed nobis expedita quos quae error temporibus enim, ex ducimus facere a perferendis,
             suscipit eum vero! Quidem nemo quod reprehenderit placeat.
             Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Beatae sed nobis expedita quos quae error temporibus enim, ex ducimus facere a perferendis,
             suscipit eum vero! Quidem nemo quod reprehenderit placeat.
             Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Beatae sed nobis expedita quos quae error temporibus enim, ex ducimus facere a perferendis,
             suscipit eum vero! Quidem nemo quod reprehenderit placeat.
             Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Beatae sed nobis expedita quos quae error temporibus enim, ex ducimus facere a perferendis,
             suscipit eum vero! Quidem nemo quod reprehenderit placeat.
        </ion-card-content>
    </ion-card>
    </ion-col>
    <ion-col size="12" size-sm="3">
      <ion-card>
        <ion-card-header class="ion-text-uppercase"><ion-icon name="people-circle-outline"></ion-icon> L'Equipe</ion-card-header>
        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Beatae sed nobis expedita quos quae error temporibus enim, ex ducimus facere a perferendis,
             suscipit eum vero! Quidem nemo quod reprehenderit placeat.
             Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Beatae sed nobis expedita quos quae error temporibus enim, ex ducimus facere a perferendis,
             suscipit eum vero! Quidem nemo quod reprehenderit placeat.
             Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Beatae sed nobis expedita quos quae error temporibus enim, ex ducimus facere a perferendis,
             suscipit eum vero! Quidem nemo quod reprehenderit placeat.
             Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Beatae sed nobis expedita quos quae error temporibus enim, ex ducimus facere a perferendis,
             suscipit eum vero! Quidem nemo quod reprehenderit placeat.
        </ion-card-content>
    </ion-card>
    </ion-col>
    <ion-col size="12" size-sm="3">
      <ion-card>
        <ion-card-header class="ion-text-uppercase"><ion-icon name="people-circle-outline"></ion-icon> L'Equipe</ion-card-header>
        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Beatae sed nobis expedita quos quae error temporibus enim, ex ducimus facere a perferendis,
             suscipit eum vero! Quidem nemo quod reprehenderit placeat.
             Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Beatae sed nobis expedita quos quae error temporibus enim, ex ducimus facere a perferendis,
             suscipit eum vero! Quidem nemo quod reprehenderit placeat.
             Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Beatae sed nobis expedita quos quae error temporibus enim, ex ducimus facere a perferendis,
             suscipit eum vero! Quidem nemo quod reprehenderit placeat.
             Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Beatae sed nobis expedita quos quae error temporibus enim, ex ducimus facere a perferendis,
             suscipit eum vero! Quidem nemo quod reprehenderit placeat.
        </ion-card-content>
    </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<!-- RICHESSES ACCORDION SECTION  -->
<ion-card>
    <ion-card-header class="ion-text-uppercase">
      <ion-icon name="cash-outline"></ion-icon> Nos richesses
    </ion-card-header>
    <ion-card-content>
      <!-- START ACCORDION -->
  <ion-accordion-group value="humor">
    <!-- HUMOR ACCORDION -->
    <ion-accordion value="humor">
      <ion-item slot="header" color="primary">
        <ion-label><ion-icon name="thumbs-up-outline"></ion-icon> Humour</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item lines="none">
          <ion-list>
            <ion-item lines="none" class="ion-text-wrap ion-text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Corrupti eos animi itaque aliquid expedita exercitationem minima fugiat nemo dolore sint.
              Sunt odio tempore eveniet voluptate animi ratione ipsam nisi quos.
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-list>
    </ion-accordion>
     <!-- HONNOR ACCORDION -->
    <ion-accordion value="honnor">
      <ion-item slot="header" color="primary">
        <ion-label><ion-icon name="ribbon-outline"></ion-icon> Honneur</ion-label>
      </ion-item>
      <ion-list slot="content">
         <ion-item lines="none">
          <ion-list>
            <ion-item lines="none" class="ion-text-wrap ion-text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Nesciunt perferendis saepe debitis autem amet incidunt hic quaerat voluptatum officiis 
              enim reiciendis ducimus deleniti aspernatur, velit dignissimos accusamus.
              Sed, similique laboriosam.
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-list>
    </ion-accordion>
  <!-- WINE ACCORDION -->
    <ion-accordion value="beer">
      <ion-item slot="header" color="primary">
        <ion-label><ion-icon name="beer-outline"></ion-icon> Beerologie</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item lines="none">
          <ion-list>
            <ion-item lines="none" class="ion-text-wrap ion-text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus totam voluptas tempore
                rem quo quis animi autem nulla. Soluta, ut impedit quis ex iste similique! 
                Quae voluptate ducimus porro? Exercitationem.
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
    </ion-card-content>
</ion-card>


