<section>
    <!-- TABLEAU EQUIPE CRUD -->
    <ion-card-subtitle class="ion-padding ion-text-wrap ion-text-uppercase">Equipage Gestion</ion-card-subtitle>
    <div
      class="card shadow mb-4"
      style="color: var(--bs-gray-900); height: auto; padding-bottom: 20px; margin-top: 0px"
    >
      <div class="card-body d-flex flex-column justify-content-between" style="height: auto; padding: 0px">
        <div class="table-responsive" style="padding-top: 0px;">
          <table class="table">
            <!-- HEADER -->
            <thead>
              <tr>
                <th class="ion-text-center ion-text-wrap">#</th>
                <th class="ion-text-center ion-text-wrap">Nom</th>
                <th class="ion-text-center ion-text-wrap">D.O.B</th>
                <th class="ion-text-center ion-text-wrap">Description</th>
                <th class="ion-text-center ion-text-wrap">Action</th>
              </tr>
            </thead>
            <!-- CONTENU -->
            <tbody>
              <tr *ngFor="let argonaute of argonautes">
                <td class="col-1 ion-text-center ion-text-wrap">{{ argonaute.id }}</td>
                <td class="col-3 col-md-2 ion-text-center ion-text-wrap">
                  <ion-text class="ion-text-center ion-text-wrap">
                      {{ argonaute.surname }}
                    </ion-text>
                </td>
                <td class="col-3 col-md-2 ion-text-center ion-text-wrap">
                    <ion-text class="ion-text-center ion-text-wrap">
                      {{ argonaute.dob }}
                      </ion-text>
                  </td>
                <td class="col-2 ion-text-center ion-text-wrap">
                    <ion-text class="ion-text-center ion-text-wrap">
                      {{ argonaute.description }}
                    </ion-text>
                </td>
                <td class="col-5 col-md-2 ion-text-center ion-text-wrap">
                  <ion-button color="warning" (click)="openUpdateModal(argonaute.id)">
                      <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
                    </ion-button>
                    <ion-button (click)="deleteArgonaute(argonaute.id)" color="danger">
                      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                    </ion-button>
                </td>
              </tr>
              <tr>
                <td class="text-center" colspan="5" style="text-align: center">
                  <ion-button color="primary" (click)="openModal()">
                      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                    </ion-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div
          class="btn-toolbar d-flex justify-content-center"
          style="
            padding-left: 0px;
            margin-right: 0px;
            margin-top: -2px;
            padding-top: 0px;
            margin-bottom: 5px;
          "
        >
        </div>
      </div>
      <div
        class="card-footer text-end"
        style="
          height: 40px;
          margin-right: 0px;
          margin-left: -1px;
          margin-top: 0px;
          padding-top: 2px;
          padding-bottom: 2px;
          margin-bottom: -21px;
        "
      >
        <span class="text-center d-flex flex-row justify-content-end">5 Argonautes / page</span>
      </div>
    </div>
  </section>
  