<ion-header class="ion-padding">
	<ion-toolbar>
        <ion-card-subtitle class="ion-text-center ion-text-uppercase">Formulaire</ion-card-subtitle>
    <ion-buttons fill="outline" slot="end">
			<ion-button slot="icon-only" (click)="dismiss()">
				<ion-icon name="close-outline"></ion-icon>
			</ion-button>
	</ion-buttons>
	</ion-toolbar>
	<div class="ion-padding ion-text-center ion-text-wrap">
		<form (ngSubmit)="equipageForm.valid && submitForm()"
		[formGroup]="equipageForm"
		#equipeForm="ngForm">
			<ion-item lines="full">
				<ion-label position="floating">Nom</ion-label>
				<ion-input formControlName="surname" type="text" required></ion-input>
			</ion-item>

			<ion-item lines="full">
				<ion-label position="stacked">Naissance</ion-label>
				<ion-input formControlName="dob" type="date" required></ion-input>
			</ion-item>
		
			<ion-item class="ion-padding-top">
			  <ion-label position="floating">Description</ion-label>
			  <ion-textarea formControlName="description" required clearOnEdit="true" autocorrect="true" maxlength="250"></ion-textarea>
			</ion-item>
	
			  <ion-col class="ion-padding">
				<ion-button (click)="submitForm()" type="submit" color="primary" expand="block">{{ argonaute != undefined ? 'Modifier' : 'Créer' }}</ion-button>
			  </ion-col>
		</form>
	</div>
</ion-header>
  
