<!--"PLEIN LA VUE" SLIDER -->
        <ion-slides pager="true" class="ion-padding" [options]="slideOpts">
          <ion-slide>
            <ion-img src="./assets/img/slide1.png" alt="bienvenue"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img src="./assets/img/slide1.png" alt="bienvenue"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img src="./assets/img/slide1.png" alt="bienvenue"></ion-img>
          </ion-slide>
        </ion-slides>
<!-- END OF "PLEIN LA VUE" SLIDER -->

<!-- WHO/WHERE/WHY CARD SECTION  -->
<ion-card class="ion-text-center ion-padding">
    <ion-thumbnail>
      <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
    </ion-thumbnail>
  
    <ion-card-header>
      <ion-card-title>Qui sommes-nous ?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text class="ion-text-wrap">
        Dans le luxueux palais de Colchide, Pollux, notre développeur frontal, et Serverux, notre développeur dorsal, 
        sont excités comme des enfants et se chamaillent dans les grands couloirs majestueux.
        <br>
        L'expédition a commencé, le navire a jeté l'ancre et tout le monde se prépare sur le pont. 
        <br>
        Nos proches vont nous manquer mais après tout, nous avons assez de bouteilles de vin pour les voir
        apparaître à nos côtés chaque soir. 
        <br>
        Après de nombreuses aventures,l'équipage a réussi à atteindre
        la Colchide où le roi Aeetes, gardien de la toison d'or, nous a accueillis.
      </ion-text>
    </ion-card-content>
</ion-card>





  
  
  



  
  
  


