<!--"PLEIN LA VUE" SLIDER -->
<ion-grid>
  <ion-row>
    <ion-col size="12" class="ion-padding">
      <ion-card>
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide>
            <h1>Bienvenue</h1>
          </ion-slide>
          <ion-slide>
            <h1>Des projets variés</h1>
          </ion-slide>
          <ion-slide>
            <h1>Started from the bottom</h1>
          </ion-slide>
        </ion-slides>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<!-- END OF "PLEIN LA VUE" SLIDER -->

<!-- WHO/WHERE/WHY CARD SECTION  -->
<ion-card class="ion-text-center">
    <ion-thumbnail>
      <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-img>
    </ion-thumbnail>
  
    <ion-card-header>
      <ion-card-title>Qui sommes-nous ?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text class="ion-text-wrap">
      Passionné de sports dès le plus jeune âge, j'ai pu aux travers de différentes 
      disciplines m'épanouir et éprouver ma persévérance dans des contextes de compétitions de haut niveau;
      <br>
      Ma passion m'as conduit , par nature , à transmettre mon savoir et de me dévouer aux progrès des autres
      au travers du métier de Préparateur Physique ainsi que dans le rôle de jury
      <br>
      d'examen final de diplômes relatifs au domaine de l'enseignement sportif.
      <br>
      Entouré de contacts dans le domaine de l'informatique , 
      ceux-ci m'ont permis de découvrir le développement web, qui par la suite est devenu mon centre d'intérêt principal.
      </ion-text>
    </ion-card-content>
</ion-card>





  
  
  



  
  
  


