<!-- VALEUR ACOORDION SECTION  -->
<ion-card>
    <ion-card-header><ion-icon name="sparkles-outline"></ion-icon> Nos valeurs</ion-card-header>
    <ion-card-content>
      <!-- START ACCORDION -->
  <ion-accordion-group value="framework">
    <!-- HUMOR ACCORDION -->
    <ion-accordion value="framework">
      <ion-item slot="header" color="primary">
        <ion-label><ion-icon name="thumbs-up-outline"></ion-icon> Humour</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item lines="none">
          <ion-list>
            <ion-item lines="none" class="ion-text-wrap ion-text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Corrupti eos animi itaque aliquid expedita exercitationem minima fugiat nemo dolore sint.
              Sunt odio tempore eveniet voluptate animi ratione ipsam nisi quos.
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-list>
    </ion-accordion>
     <!-- HONNOR ACCORDION -->
    <ion-accordion value="languages">
      <ion-item slot="header" color="primary">
        <ion-label><ion-icon name="ribbon-outline"></ion-icon> Honneur</ion-label>
      </ion-item>
      <ion-list slot="content">
         <ion-item lines="none">
          <ion-list>
            <ion-item lines="none" class="ion-text-wrap ion-text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Nesciunt perferendis saepe debitis autem amet incidunt hic quaerat voluptatum officiis 
              enim reiciendis ducimus deleniti aspernatur, velit dignissimos accusamus.
              Sed, similique laboriosam.
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-list>
    </ion-accordion>
  <!-- WINE ACCORDION -->
    <ion-accordion value="bdd">
      <ion-item slot="header" color="primary">
        <ion-label><ion-icon name="beer-outline"></ion-icon> Beerologie</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item lines="none">
          <ion-list>
            <ion-item lines="none" class="ion-text-wrap ion-text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus totam voluptas tempore
                rem quo quis animi autem nulla. Soluta, ut impedit quis ex iste similique! 
                Quae voluptate ducimus porro? Exercitationem.
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
    </ion-card-content>
  </ion-card>
